<h1><%= @meetup.title %></h1>

<p>
  Meetup Name: <%= @meetup.title %>
</p>
<p>
  Description: <%= @meetup.description %>
</p>
<p>
  Created By: <%= @user.username %>
</p>
<p>
  Location: <%= @meetup.location %>
</p>
<p>
  Starts: <%= @meetup.start_date %> @ <%= @meetup.start_time %>
</p>
